.imageupload{
    display:flex;
    flex-direction: column;
    margin: 0 auto 10px auto; 
    position: sticky;
    bottom: 0;
    background-color: rgb(233, 206, 180);
    width: 100%;
}

.imageupload__progress {
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

.imageupload__button{
    background: #c5c495;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px; 
}
.imageupload__button:hover {
    cursor: pointer;
    background-color: #ebebeb;
}
.imageupload__caption{
    width: 49%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgray; 
}

.imageupload__file{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}