.post {
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image{
    width: 100%;
    object-fit: contain;/* No matter screen size, image will reshape nicely according to screen size*/
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text{
    font-weight: normal;
    padding: 20px;
}

.post__header{
    display: flex; /*  By default, throws into a row */
    align-items: center; /* centered same with the profile pic */
    padding: 20px;
}

.post__avatar{
    margin-right: 10px;
}